.product-container {
  cursor: pointer;
  width: 100%;

  .image-container {
    background: #a9a9a9;

    .fade-in-right {
      // opacity: 1;
      animation: fade-in-right 1s ease;
    }

    .fade-out-right {
      // opacity: 0;
      animation: fade-out-right 1s ease;
    }

    .product-action {
      text-align: center;
      position: absolute;
      display: inline-block;
      top: 35%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      z-index: 9;

      a {
        height: 46px;
        width: 46px;
        margin: 5px;
        position: relative;
        text-align: center;
        display: inline-block;
        font-size: 26px;
        border-radius: 50px;
        background: white;
        color: black;
      }

      a:hover {
        background: #fc4f4f;
        color: white;
      }
    }
  }

  .product-content {
    a {
      color: black;
    }

    a:hover {
      text-decoration: none;
      color: #fc4f4f;
    }
  }

  .non-hover {
    opacity: 0.9;
  }

  .hover {
    opacity: 0.7;
  }
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-out-right {
  from {
    opacity: 1;
  }
  30% {
    opacity: 0.2;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
  }
}
