.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mt-6 {
  margin-top: 6px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-70 {
  margin-top: 70px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-140 {
  padding-top: 140px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-120 {
  padding-bottom: 120px;
}

.ps-2vw {
  padding-right: 2vw;
  padding-left: 2vw;
}

.ps-4vw {
  padding-right: 4vw;
  padding-left: 4vw;
}

.ps-15 {
  padding-right: 15px;
  padding-left: 15px;
}

.section-title-1 {
  text-align: center !important;
  width: 100%;

  h2 {
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 17px;
    margin: 0;
    line-height: 36px;
  }
}

img {
  width: 100%;
}

.hvr-bounce-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  color: black;
}
.hvr-bounce-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fc4f4f;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-top:hover,
.hvr-bounce-to-top:focus,
.hvr-bounce-to-top:active {
  color: white;
}
.hvr-bounce-to-top:hover:before,
.hvr-bounce-to-top:focus:before,
.hvr-bounce-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: scaleY(0px);
  }
}

@keyframes fly {
  0% {
    opacity: 1;
    transform: translate(-25px, -30px) scale(1, 1);
  }
  70% {
    opacity: 0.7;
  }

  85% {
    opacity: 0.2;
  }

  100% {
    opacity: 0;
    transform: translate(26vw, -610px) scale(0.1, 0.1);
  }
}

@keyframes playJump {
  0% {
    transform: translate(-13px, 60%) scale(1.1, 0.7);
  }
  10% {
    transform: translate(-13px, 30%) scale(0.9, 1.2);
  }
  20% {
    transform: translate(-13px, 15%);
  }
  40% {
    transform: translate(-13px, 10%);
  }
  // 45%  { top: 160px; height: 40px; width: 60px; margin-left: -30px; }
  50% {
    transform: translate(-13px, 10%);
  }
  55% {
    transform: translate(-13px, 18%);
  }
  60% {
    transform: translate(-13px, 20%);
  }
  65% {
    transform: translate(-13px, 25%);
  }
  70% {
    transform: translate(-13px, 30%);
  }
  90% {
    transform: translate(-13px, 60%) scale(1.2, 0.7);
  }
  100% {
    transform: translate(-13px, 60%) scale(1.4, 0.7);
  }
}
