.nav-container {
  width: 100%;
  align-items: center;
  display: flex;
  position: absolute;

  a {
    line-height: 110px;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    font-size: 19px;
  }

  a:hover {
    color: #fc4f4f;
  }

  .App-logo {
    width: 100px;
  }

  .nav-header-right {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    line-height: 1;
  }

  .nav-header-right a {
    font-size: 2rem;
    margin: 0 5px 0 5px;
  }
}
