.nav-container {
  width: 100%;
  align-items: center;
  display: flex;
  position: absolute;

  a {
    line-height: 110px;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    font-size: 18px;
  }

  .nav-main-menu {
    a {
      text-decoration: none;
      position: relative;
      color: black;
    }

    a:after {
      content: "";
      width: 0%;
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      bottom: 35px;
      height: 3px;
      transition: all 0.3s;
    }

    a:hover::after {
      width: 75%;
      background: #fc4f4f;
    }
  }

  .App-logo {
    width: 80px;
  }

  .nav-header-right {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    line-height: 1;

    a {
      font-size: 2rem;
      margin: 0 5px 0 5px;
    }

    a:hover {
      color: #fc4f4f;
    }
  }
}

.sideList {
  width: 350px;
  background: black;
  color: whitesmoke;
  height: auto;
  padding: 35px 20px;

  .list {
    padding: 30px;
    div {
      margin-top: 0.6rem;
      cursor: pointer;
      font-size: 1.4rem;
      opacity: 0.8;
    }

    div:hover {
      color: #fc4f4f;
      transition: all ease-in 0.2s;
    }
  }

  .payment {
    padding: 25px;

    .payment-container {
      display: inline-flex;
      justify-content: center;
      padding-bottom: 15px;

      .payment-logo {
        width: 50px;
        height: 45px;
        padding: 5px;
      }
    }
  }

  .social-link {
    padding: 30px;

    a {
      color: whitesmoke;
    }
  }
}
