.nav-container {
  width: 100%;
  align-items: center;
  display: flex;
  position: absolute;

  a {
    line-height: 110px;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    font-size: 18px;
  }

  .nav-main-menu {
    a {
      text-decoration: none;
      position: relative;
      color: black;
      line-height: 110px;
      display: block;
      padding: 0.5rem 1rem;
    }

    a:after {
      content: "";
      width: 0%;
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      bottom: 35px;
      height: 3px;
      transition: all 0.3s;
    }

    a:hover::after {
      width: 75%;
      background: #fc4f4f;
    }
  }

  .App-logo {
    width: 80px;
  }

  .nav-header-right {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    line-height: 1;

    span {
      font-size: 2rem;
      margin: 0 5px 0 5px;
      cursor: pointer;
    }

    span:hover {
      color: #fc4f4f;
    }

    .unit {
      position: absolute;
      border-radius: 50px;
      font-size: 11px;
      background: #fc4f4f;
      width: 1rem;
      height: 1rem;
      padding: 0.2rem 0 0 0.3rem;
      color: white;
      margin: -0.55rem 0 0 0.55rem;
      transition: 1.2s linear;
    }
  }
}

.sideList-menu {
  width: 350px;
  background: black;
  color: whitesmoke;
  padding: 35px 20px;

  .list {
    padding: 30px;
    div {
      margin-top: 0.6rem;
      cursor: pointer;
      font-size: 1.4rem;
      opacity: 0.8;
    }

    div:hover {
      color: #fc4f4f;
      transition: all ease-in 0.2s;
    }
  }

  .payment {
    padding: 25px;

    .payment-container {
      display: inline-flex;
      justify-content: center;
      padding-bottom: 15px;

      .payment-logo {
        width: 50px;
        height: 45px;
        padding: 5px;
      }
    }
  }

  .social-link {
    padding: 20px;

    a {
      color: whitesmoke;
    }
  }

  .rightReversed {
    font-size: 0.85rem;
    padding: 25px;
  }
}

.sideList-cart {
  width: 350px;
  padding: 35px 30px;

  h5 {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .cart-content {
    .cart-items {
      min-height: 270px;
      padding-bottom: 30px;

      .item {
        display: flex;
        width: 100%;
        padding: 6px;

        .img {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 75px;
          -ms-flex: 0 0 75px;
          flex: 0 0 75px;

          img {
            height: 100px;
            object-fit: contain;
          }
        }

        .cart-title {
          margin-left: 20px;

          a {
            text-decoration: none;
            color: black;
          }

          a:hover {
            color: #fc4f4f;
          }
        }

        .cart-delete {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-flex: 100;
          -webkit-flex-grow: 100;
          -ms-flex-positive: 100;
          flex-grow: 100;
          -webkit-box-pack: end;
          -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
          justify-content: flex-end;
          width: 25px;
          cursor: pointer;
        }

        .cart-delete:hover {
          color: #fc4f4f;
        }
      }
    }

    .cart-amount {
      font-size: 1.3rem;
      margin-bottom: 30px;
    }

    .cart-checkout-btn {
      display: block;
      width: 100%;

      a {
        margin: 10px 0 0;
        text-align: center;
        line-height: 20px;
        padding: 19px 20px 20px;
        background-color: #2f2f2f;
        color: #fff;
        text-transform: capitalize;
        font-size: 14px;
        transition: all 0.3s ease 0s;
        width: 100%;
        display: block;
        cursor: pointer;
        text-decoration: none;
      }

      a:hover {
        color: #fff;
        background: #fc4f4f;
      }
    }
  }
}
