.slider-area {
  background: #fff1f0;
  margin: 0 !important;

  img {
    left: 0;
    display: none;
    animation: fade-out 2s ease;
  }

  img.opaque {
    display: block;
    animation: fade-in 2s ease;
  }

  .delay-1dot5s {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
  }

  .slider-info {
    align-self: center !important;
    user-select: none;

    p {
      font-size: 1.8vw;
    }

    h1 {
      font-size: 7vw;
      font-weight: 400;
    }

    #link {
      font-size: 2vw;
      color: black;
      margin: 0;
      cursor: pointer;
    }

    #link:before {
      display: inline-block;
      content: "";
      border-top: 1px solid black;
      width: 10vw;
      margin-right: 1rem;
      padding-bottom: 0.5rem;
    }

    .dots-container {
      line-height: 46px;
      font-size: 28px;
      font-weight: 700;
      right: 0;
      display: flex;
      flex-direction: column;

      .dot {
        cursor: pointer;
        text-align-last: end;
        width: 35px;
        margin-left: auto;
      }

      .dot:hover {
        position: relative;
        transition: width 0.3s;
        border-bottom: red 2px solid;
        width: 100px;
      }
    }
  }
}
