.subscribe-area {
  font-family: "Times New Roman", Times, serif;

  .subscribe-content {
    text-align: center;

    h1 {
      text-transform: uppercase;
    }

    p {
      line-height: 1.7rem;
      font-size: 20px;
      margin: 0;
    }
  }

  .email-container {
    place-self: center;
    margin-top: 20px;

    .input-group {
      border: 2px solid #e0e0e8;
      .email-input {
        height: 70px;
        font-size: 17px;
        font-weight: 300;
        background-color: transparent;
        padding: 5px 130px 5px 30px;
        border: none;
      }

      .subscribe-btn {
        width: auto;
        border: none;
        font-size: 16px;
        text-transform: uppercase;
        color: black;
        padding: 5px 30px;
        font-weight: 700;
      }

      .subscribe-btn:hover {
        color: #fc4f4f;
      }
    }
  }
}
