.shop {
  background-image: url("../../assets/shopHead.jpg");
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  height: 330px;

  .header {
    margin-top: 50px;

    h1 {
      text-align: center;
      font-size: 4vw;
    }

    .breadcrumb {
      color: black;
      background: none;
      justify-content: center;

      a {
        font-size: 18px;
        color: black;
      }
    }
  }

  .shop-area {
    display: flex;

    .side-bar {
      // Widget Component
      .widget {
        display: flex;
        flex-direction: column;

        div {
          padding-bottom: 27px;
        }

        a {
          color: black;
        }

        span {
          float: right;
        }
      }

      // Filter Component
      .filter {
        #filter-btn {
          width: 140px;
          padding: 8px 10px;
          margin-top: 15px;
          border: 2px solid #262626;
          font-weight: 700;
          font-size: 11px;
          text-transform: uppercase;
          transition: all 0.3s;
        }

        #filter-btn:hover {
          color: white;
          background: #fc4f4f;
        }
      }

      // Size Component
      .size {
        .btn-container {
          button {
            display: inline-block;
            margin-right: 7px;
            color: #535353;
            padding: 11px 26px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            margin-bottom: 10px;
          }

          button:hover {
            color: white;
            background: #fc4f4f;
          }

          button:focus {
            outline: 0;
          }
        }
      }

      // Color Component
      .color {
        .col-6 {
          margin-bottom: 20px;
        }

        a {
          color: black;
          margin: 10px 2px 10px 0;
        }

        a:hover {
          text-decoration: none;
          color: #fc4f4f;
          transition: ease 0.3s;
        }
      }

      // Banner Component
      .banner {
        overflow: hidden;
        cursor: pointer;

        img {
          z-index: -9;
          filter: grayscale(100%);
          transition: all 0.3s ease-in-out;
        }

        img.active {
          transform: scale(1.1);
          filter: grayscale(0);
        }

        #content {
          color: white;
          position: absolute;
          text-align: center;
          margin-top: 45%;
          width: 90%;
          z-index: 10;
          user-select: none;
        }
      }
    }

    .product-area {
      .shop-top-bar {
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 100%;
        line-height: 24px;
        font-size: 14px;

        .bar-btn {
          color: black;
          cursor: pointer;
          height: 60px;
        }

        .bar-left {
          display: inline-flex;

          .shop-page-list {
            margin-left: 11px;

            span {
              margin-left: 11px;
            }

            .bar-btn:hover {
              text-decoration: underline;
            }
          }
        }

        .bar-right {
          display: flex;
          justify-content: space-between;
          -webkit-box-align: center;
          align-items: center;

          span {
            margin-left: 20px;
            cursor: pointer;
          }

          .filter {
            color: #fc4f4f;
          }

          .dropdown {
            display: none;
            animation: fadeUp 1s ease;
            margin: 20px 15px 0 0;
            position: absolute;
            padding: 7px;
            background-color: #fff;
            font-size: 11px;
            box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.2);
            -webkit-transition: all 250ms ease-out;
            -o-transition: all 250ms ease-out;
            transition: all 250ms ease-out;
            right: 0;

            .dropdown-option {
              cursor: pointer;
              padding: 5px;
              border-radius: 4px;
            }

            .dropdown-option:hover {
              background: black;
              color: white;
              opacity: 1;
            }
          }

          .active {
            display: block;
          }
        }
      }
    }
  }
}
