.shop {
  background-image: url("../../assets/shopHead.jpg");
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  height: 330px;

  .header {
    margin-top: 50px;

    h1 {
      text-align: center;
      font-size: 4vw;
    }

    .breadcrumb {
      color: black;
      background: none;
      justify-content: center;

      a {
        font-size: 18px;
        color: black;
      }
    }
  }

  .footer {
    .App-logo {
      margin-top: -10px;
      width: 80px;
    }
  }
}
