.shop {
  background-image: url("../../assets/shopHead.jpg");
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  height: 330px;

  .header {
    margin-top: 50px;

    h1 {
      text-align: center;
      font-size: 4vw;
    }

    .breadcrumb {
      color: black;
      background: none;
      justify-content: center;

      a {
        font-size: 18px;
        color: black;
      }
    }
  }

  .shop-area {
    display: flex;

    .side-bar {
      flex: 30%;

      // Widget Component
      .widget {
        display: flex;
        flex-direction: column;

        div {
          padding-bottom: 27px;
        }

        a {
          color: black;
        }

        span {
          float: right;
        }
      }

      // Filter Component
      .filter {
        #filter-btn {
          width: 140px;
          padding: 8px 10px;
          margin-top: 15px;
          border: 2px solid #262626;
          font-weight: 700;
          font-size: 11px;
          text-transform: uppercase;
          transition: all 0.3s;
        }

        #filter-btn:hover {
          color: white;
          background: #fc4f4f;
        }
      }

      // Size Component
      .size {
        .btn-container {
          button {
            display: inline-block;
            margin-right: 7px;
            color: #535353;
            padding: 11px 26px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            margin-bottom: 10px;
          }

          button:hover {
            color: white;
            background: #fc4f4f;
          }

          button:focus {
            outline: 0;
          }
        }
      }

      // Color Component
      .color {
        .col-6 {
          margin-top: 10px;
          margin-bottom: 10px;
        }

        a {
          color: black;
          margin: 10px 2px 10px 0;
        }

        a:hover {
          text-decoration: none;
          color: #fc4f4f;
          transition: ease 0.3s;
        }
      }
    }

    .product-area {
      flex: 70%;
    }
  }
}
