.homePage {
  .footer {
    background: #161616;
    color: white;
    text-align: center;

    .main {
      margin: 0;

      a {
        color: white;
      }

      .App-logo {
        margin-top: -10px;
        width: 80px;
      }

      .relevance-links {
        // display: -webkit-inline-box;
        -webkit-box-pack: center;
        justify-content: center;
        margin: 20px 0 20px;
        text-transform: uppercase;
        div {
          margin: 0 14px;
          a {
            color: white;
            font-size: 14px;
          }
        }
      }
    }

    .right-reserved {
      color: grey;
      font-size: 13px;
      padding-bottom: 15px;
      margin: 0;
    }
  }
}
