.productArea {
  .productMainArea {
    overflow: hidden;
    .wrapper {
      display: flex;
      transition: transform 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

      .active {
        margin-top: 0px;
        transition: all linear;
        display: block !important;
      }
    }
  }

  .slider-dots-container {
    text-align-last: center;

    ul {
      display: inline-block;
      text-align: center;
      border-radius: 50px;
      border: 2px solid rgba(0, 0, 0, 0.1);
      line-height: 1;
      margin-top: 60px;
      padding: 0;

      li {
        display: inline-block;

        button {
          border: none;
          font-weight: bold;
          font-size: 18px;
          padding: 19px 46px 18px;
          border-radius: 50px;
          outline: 0;
          background: none;
        }

        button:focus {
          background-color: #fc4f4f;
          color: white;
        }
      }
    }
  }

  .btn-style-1 {
    text-align: center !important;

    .btn-border {
      border: 1px solid #e5e5e5;
      padding: 24px 40px 27px;
    }
  }
}
